.home-container {
  font-family: 'Arial', sans-serif;
  color: #333;
  padding-top: 0; 
}

/* Header Section */
.home-header {
  text-align: center;
  padding: 20px 20px 10px; /* Reduce top padding to bring closer to navbar */
  border-bottom: none;
  margin-bottom: 20px; /* Add margin to create space below the title */
}

.home-header h1 {
  font-size: 2.8em;
  margin: 0;
  color: #333;
  font-weight: 600;
}

.featured-image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* Adjust to allow flexible height */
  margin: 0 auto; /* Center the image */
}

.featured-image-section img {
  width: 500px; 
  height: auto; 
}



/* Description Section */
.description-section {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  color: #555;
  max-width: 900px;
  margin: 0 auto;
}

.description-section p {
  font-size: 1.1em;
  line-height: 1.8;
  color: #666;
}
